[submodule "submodules/mavlink"]
	path = submodules/mavlink
	url = https://github.com/mavlink/c_library_v2.git
[submodule "submodules/schemas"]
	path = submodules/schemas
	url = https://github.com/foxglove/schemas.git
