[submodule "submodules/doxygen-awesome"]
	path = submodules/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "submodules/cpp-utils"]
	path = submodules/cpp-utils
	url = https://gitlab.com/labrat.eu/standards/utils/cpp-utils.git
[submodule "submodules/mcap"]
	path = submodules/mcap
	url = https://github.com/foxglove/mcap.git
[submodule "submodules/mavlink"]
	path = submodules/mavlink
	url = https://github.com/mavlink/c_library_v2.git
